$phone: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1400px;

$darkBgPrimary: rgb(26, 26, 36);
$darkBgSecondary: rgb(47, 47, 65);
$darkTextPrimary: rgb(236, 234, 234);
$darkTextSecondary: rgb(197, 197, 197);

$lightBgPrimary: rgb(250, 249, 249);
$lightBgSecondary: rgb(238, 236, 236);
$lightTextPrimary: rgb(31, 31, 31);
$lightTextSecondary: rgb(70, 70, 70);

$blue: rgb(87, 184, 248);
$purple: rgb(152, 100, 250);
$green: rgb(125, 206, 136);
$grey: rgb(170, 169, 169);
